.container{
    width:80%;
    margin:auto;
    text-align: center;
    margin-top: 1rem;
}
.create{
    background-color: green;
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    font-size: 100%;
}
.home{
    background-color: dodgerblue;
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    font-size: 100%;
}
.delete{
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    font-size: 100%;
}
.searchbar{
    width:50%;
    margin-top: 1rem;
    padding: 10px;
    font-size: 100%;
    border-radius: 5px;
    border: 2px solid dodgerblue;
}
.searchbar:focus{
    outline: none;
}
.search{
    background-color:dodgerblue;
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    font-size: 100%;
}
table{
    margin-top: 1rem;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
table td,th{
    padding:1rem;
    font-size: 120%;
    border-left: none;
    border-right:none;
    border-bottom: none;
}